#profile {
    margin-top: 4.844vw;
}

#profile .profile-info {
    margin: 50px;
}

#profile .profile-form {
    margin-top: 30px;
}

#profile .delete_favorite {
    border: none;
    background: none;
}

#profile span.currency {
    font-family: 'RUBSN';
    font-weight: bold;
}

#profile .favorite_block {
    margin: 30px;
}

#profile .favorite_block table {
    margin-top: 30px;
}

#profile .favorite_block table td {
    vertical-align: middle;
}

#profile .order-table-block {
    margin: 50px;
}

#profile .order-table-block #order_table {
    margin-top: 30px;
}

#profile .order-table-block #order_table .show-details {
    border: none;
    background: none;
}

#profile .sets-block {
    margin: 30px;
}

#profile #sets_table .text-center {
    padding-top: 70px;
}

#profile #sets_table {
    border-bottom: 1px solid;
}


#order-show {
    z-index: 100;
    position: fixed;
    left: 100vw;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    transition: 0.8s;
    display: none;
    pointer-events: all;
}

#order-show.open {
    left: 0vw;
    display: block;
}
#order-show.open #close-mask {
    transform: scale(1);
    border-radius: 0;
}
#order-show #cart-cart.empty-cart {
    width: 27.9vw;
}
#order-show #close-mask.empty-cart {
    width: 71.1vw;
}
#order-show #cart-cart {
    padding: 0;
}
#order-show #close-cart, #closecheck {
    background: url(/image/closeicon.png);
    background-repeat: no-repeat;
 }

#order-show #order_info {
    padding: 40px;
}
#order-show #order_info h3 {
    font-size: 25px;
}
#order-show #order_info h4 {
    font-size: 25px;
    margin-top: 30px;
    color: white;
}
#order-show #order_info h4 span.currency, .order-product-list span.currency {
    font-family: 'RUBSN';
    font-weight: bold;
}
#order-show #order_info p {
    color: grey;
}
#order-show #order_info h3, p {
    padding: 0;
    margin: 0;
}

#order-show .order-product-list  img.wine {
    width: 30%;
}
#order-show .order-product-list  img.set {
    width: 70%;
}
#order-show .order-product-list .order-product {
    margin-top: 20px ;
    margin-bottom: 20px ;
}
#order-show .order-product-list .product-info {
    margin-top: 10px;
}

#profile .subscription-block {
    margin: 30px;
}
#profile .delivery_images {
    margin-top: 20px;
    /*margin-bottom: -35px;*/
}
#profile .delivery_images img {
    margin-left: 10px;
}

.form-group-checkbox label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.form-group-checkbox input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #da224d;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.form-group-checkbox input[type="checkbox"]:checked + label::before {
    color: #da224d;
}

.form-group-checkbox input[type="checkbox"]:checked + label::before {
    color: #da224d;
    opacity: 1;
}

.form-group-checkbox label {
    position: relative;
    cursor: pointer;
}

.form-group-checkbox {
    display: block;
    margin-bottom: 15px;
}

.form-group-checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
