#profile {
    margin-top: 4.844vw;
}

#profile .profile-info {
    margin: 50px;
}

#profile .profile-form {
    margin-top: 30px;
}

#profile .delete_favorite {
    border: none;
    background: none;
}

#profile span.currency {
    font-family: 'RUBSN';
    font-weight: bold;
}

#profile .favorite_block {
    margin: 30px;
}

#profile .favorite_block table {
    margin-top: 30px;
}

#profile .favorite_block table td {
    vertical-align: middle;
}

#profile .order-table-block {
    margin: 50px;
}

#profile .order-table-block #order_table {
    margin-top: 30px;
}

#profile .order-table-block #order_table .show-details {
    border: none;
    background: none;
}

#profile .sets-block {
    margin: 30px;
}

#profile #sets_table .text-center {
    padding-top: 70px;
}

#profile #sets_table {
    border-bottom: 1px solid;
}
