@media (min-width: 992px) {
    .about_person_below .text_space_old {
        padding: 140px 15% 125px;
        text-align: center;
    }

    .teruar_bg .col-md-10 .abs_img.page_image {
        margin-top: -305px;
    }
}

.text_space_old {
    font: 30px ProximaNova-Bold;
}

.page_image {
    width: 100%;
    height: auto;
}

.teruar_text_block {
    padding: 5% 8% 5% 10%;
}
.teruar_map {
    margin-top: -70px;
}

#information-winery .swiper-button-next, #information-winery .swiper-button-prev {
    position: absolute;
    top: 50%!important;
    width: 27px!important;
    height: 44px!important;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

#information-winery .wines-slider .item-inner, #information-winery .swiper-slide .item-inner {
    padding-bottom: 80px;
}
