/*@font-face {*/
/*    font-family: 'Lato-Regular';*/
/*    src: url(/fonts/Proxima Nova/Lato-Regular.eot?#iefix) format("embedded-opentype"),*/
/*url(/fonts/Proxima Nova/Lato-Regular.woff) format("woff"),*/
/*url(/fonts/Proxima Nova/Lato-Regular.ttf) format("truetype"),*/
/*url(/fonts/Proxima Nova/Lato-Regular.svg#Lato-Regular) format("svg");*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*    font-display: swap*/
/*}*/

/*@font-face {*/
/*    font-family: 'Lato-Light';*/
/*    src: url(/fonts/Proxima Nova/Lato-Light.eot);*/
/*    src: local(☺), url(/fonts/Proxima Nova/Lato-Light.woff) format("woff"),*/
/*url(/fonts/Proxima Nova/Lato-Light.ttf) format("truetype"),*/
/*url(/fonts/Proxima Nova/Lato-Light.svg) format("svg");*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*    font-display: swap*/
/*}*/

/*@font-face {*/
/*    font-family: 'ProximaNova-Bold';*/
/*    src: url(/fonts/Proxima Nova/OldStandardTT-Regular.eot?#iefix) format("embedded-opentype"),*/
/*url(/fonts/Proxima Nova/OldStandardTT-Regular.woff) format("woff"),*/
/*url(/fonts/Proxima Nova/OldStandardTT-Regular.ttf) format("truetype"),*/
/*url(/fonts/Proxima Nova/OldStandardTT-Regular.svg#OldStandardTT-Regular) format("svg");*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*    font-display: swap*/
/*}*/

@media (min-width: 992px) {
    .about_person_below .text_space_old {
        padding: 140px 15% 125px;
        text-align: center;
    }

    .vinogradniki_text_below {
        margin-top: 100px;
    }

    .species_box .white, .species_box .red {
        font-family: 'ProximaNova-Bold';
    }

    .species_box .white {
        color: #cdc266;
    }

    .species_box h6 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .cvet_sorta p {
        font-family: Lato-Light;
    }

    .species_box .white, .species_box .red {
        font-family: 'ProximaNova-Bold';
    }

    .species_box .red {
        color: #da224d;
    }

    .species_box h6 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .teruar_bg p {
        margin: 60px;
    }

    .text_with_map {
        padding: 50px 100px;
    }

    .vinogradniki h2 {
        font-size: 5em;
    }

    .teruar {
        margin-top: -250px;
    }

}

.text_space_old {
    font: 30px ProximaNova-Bold;
}

.page_image {
    width: 100%;
    height: auto;
}

.person_img {
    margin-top: -60px;
}

.teruar_text_block {
    padding: 5% 8% 5% 10%;
}

.teruar_map {
    margin-top: -70px;
}

#information-winery .swiper-button-next, #information-winery .swiper-button-prev {
    position: absolute;
    top: 50% !important;
    width: 27px !important;
    height: 44px !important;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

#information-winery .wines-slider .item-inner, #information-winery .swiper-slide .item-inner {
    padding-bottom: 80px;
}

.teruar_bg {
    background-color: #2D1F31;
    z-index: 10;
    padding: 150px 0 80px;
    position: relative;
}

.teruar_bg p {
    color: #fff;
    line-height: 25px;
}

.teruar {
    color: #d6d6d6;
    z-index: 90;
    font-family: 'ProximaNova-Bold';
}

.about_person {
    margin-bottom: 150px;
}

.text_field {
    text-align: justify;
    padding: 70px 10px 40px;
}

.fluid_img {
    margin: -45% 0 0 -25%;
}

.map_space {
    padding: 70px 10px 40px;
}

.text_with_map {
    text-align: center;
    line-height: 25px;
}

.vine_info {
    background-color: #2D1F31;
    padding: 50px 0 10px;
}

.row-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.vinogradniki h2 {
    color: #d6d6d6;
    margin-bottom: -17px;
    margin-top: 0;
    padding-left: 17%;
}

.vinogradnik_title {
    font-family: 'ProximaNova-Bold';
    font-size: 80px;
}

.plod {
    background-color: #DA224D;
    width: 40%;
    padding: 2% 10%;
    color: #fff;
}

.wine_ul {
    padding: 5% 10%;
}

.plod_title {
    margin: 0 !important;
}

.about_vinogradnik_last {
    line-height: 27px;
    background-color: rgba(255, 255, 255, 0.7);
}

.person_text {
    text-align: justify;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
    font-weight: 100;
}

.proizvoditelnost {
    background-color: #DA224D;
    color: #fff;
    margin: 0;
    padding: 70px 45px;
    z-index: 9;
    position: absolute;
    text-align: center;
    top: 0;
    font-family: 'ProximaNova-Bold';
}

.descrip_two {
    background-color: rgba(241, 241, 241, 1);
}

.teruar2 h1 {
    color: #ffffff45 !important;
    font-size: 9vw !important;
    font-family: 'ProximaNova-Bold';
    margin: -10px;
}

.desc_teruar2 {
    background-color: rgba(44, 32, 48, 0.7);
    color: #fff;
    padding: 50px;
}

.text_map {
    text-align: center;
    font-size: 20px;
    font-family: 'Lato-Regular';
    padding: 8%;
}


.krasni_kvadrat {
    background-color: #DA224D;
    position: absolute;
    bottom: 100px;
    color: #fff;
    font-family: 'ProximaNova-Bold';
    text-align: center;
    padding: 35px 30px;
}

.krasni_kvadrat p {
    font-size: 15px;
    line-height: 20px;
    padding: 0;
}

.crazy_pic_three {
    margin-top: -130px;
}

.two_pic_div {
    margin-left: -15px;
    margin-right: -15px;
}

.monde_desc {
    background-color: #f5f4f4;
}

.history {
    padding: 50px 0;
}

.history {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .vinogradnik2 h1 {
        color: #cbcbcb !important;
        font-size: 5vw !important;
        font-family: 'ProximaNova-Bold';
        margin-bottom: -20px;
        z-index: 99;
    }
    .teruar {
        font-size: 8.5em;
    }

    .crazy_pic_four {
        margin-left: 60px;
        margin-top: -220px;
        margin-right: -20px;
    }

    .crazy_pic_one {
        width: 55%;
        height: auto;
        margin-top: -150px;
        vertical-align: text-top;
    }

    .crazy_pic_two {
        width: 30%;
        height: auto;
        margin-top: -110px;
        vertical-align: text-top;
        margin-left: 40px;
    }

    .desc_table_text {
        padding-top: 15px;
    }

    .vinodelnia2 h1 {
        color: #cbcbcb !important;
        font-size: 5vw;
        font-family: 'ProximaNova-Bold';
        margin-bottom: -25px;
        z-index: 9;
    }

    .vinodelnia_text {
        position: absolute;
        padding: 50px;
        background-color: #2D2032;
        top: 0;
        color: #fff;
        width: 35%;
        left: 30%;
    }

}

@media (max-width: 1919px) and (min-width: 1200px) {
    .crazy_pic_four {
        margin-top: -90px;
    }
}


.name_vinodelnia {
    font-family: 'ProximaNova-Bold';
    color: #d6d6d6;
    margin: 0;
    line-height: 38px;
    z-index: 9;
}

.name_vinodelnia {
    font-family: 'ProximaNova-Bold';
    color: #d6d6d6;
    margin: 0;
    line-height: 38px;
    z-index: 9;
}

.fluid_image {
    margin-left: 0;
    margin-top: -63px;
}
#area, .sort_line .col-md-3 h6, .sort_line .col-md-3 p, .proizvoditelnost {
    font-family: 'ProximaNova-Bold';
}
