.layout-12 .text_space_sa .col-md-6 {
    padding: 0 8% 0 5%;
    font: 18px Lato;
    text-align: left
}

@media (min-width: 992px) {
    .layout-12 .signature {
        font: 15px Lato;
        text-align: center;
        margin-top: 35px;
        padding-right: 350px;
        letter-spacing: 0;
        font-weight: 700
    }

    .layout-12 .logo {
        width: 140px;
        margin-top: 100px
    }

    .layout-12 #map {
        height: 325px;
        width: 350px;
        position: absolute !important;
        top: 0;
        border: 15px solid #ffff
    }

    .layout-12 .text_map {
        position: absolute;
        top: -105px;
        right: 19%
    }

    .layout-12 .teruar {
        position: absolute;
        top: -124px;
        left: 19.5%;
        margin-top: 0;
        z-index: 1
    }

    .layout-12 .vinogradniki_title {
        position: absolute;
        top: -124px;
        text-align: center;
        width: 100%;
        padding-left: 0;
        z-index: 1
    }

    .layout-12 .name_vinodelnia {
        padding-left: 0;
        position: absolute;
        top: 26px;
        z-index: 1
    }

    .layout-12 .person_img {
        margin-top: -80px
    }

    .layout-12 .about_person {
        margin-bottom: 0;
        padding-bottom: 225px
    }

    .layout-12 .col-md-4 .person_img {
        margin-top: -150px
    }

    .layout-12 .about_person_below {
        margin-bottom: 150px
    }

    .layout-12 .about_person_below .text_ml {
        text-align: center;
        padding: 7% 15% 0
    }

    .layout-12 .about_person_below .text_ml p {
        margin-bottom: 20px
    }

    .layout-12 .teruar_bg {
        background: transparent;
        padding-top: 0;
        padding-bottom: 175px
    }

    .layout-12 .teruar_bg p {
        color: #23252b;
        margin: 0
    }

    .layout-12 .text_map {
        position: absolute
    }

    .layout-12 .teruar_bg .margin-top-col {
        margin-top: -215px
    }

    .layout-12 .teruar_bg .background_purple p, .layout-12 .teruar_bg .background_purple .text_space_old {
        color: #fff
    }

    .layout-12 .teruar_bg .background_purple .text_space {
        padding: 16%
    }

    .layout-12 .teruar_bg .background_purple .text_space_old {
        margin-top: 60px
    }

    .layout-12 .teruar_bg .background_purple p {
        line-height: 1.4
    }

    .layout-12 .teruar_bg .col-md-6 .text_s_s {
        padding: 11% 13% 8% 14%
    }

    .layout-12 .teruar_bg .col-md-6 .text_s_s p {
        line-height: 1.8;
        margin-bottom: 20px
    }

    .layout-12 .teruar_bg .margin-img {
        margin-left: -12%
    }

    .layout-12 .text_space_imp.text_space_old {
        text-align: center;
        padding: 12% 12% 5% 0
    }

    .layout-12 .text_space_sa h5, .layout-12 .text_space_sa .col-md-6 h4 {
        font: 40px ProximaNova-Bold
    }

    .layout-12 .vinogradniki {
        padding-bottom: 150px
    }

    .layout-12 .vinogradniki .col-md-4 .text_s_s {
        padding: 5% 21% 5% 0
    }

    .layout-12 .vinogradniki .text_space_old {
        font-size: 28px;
        padding: 5% 0
    }

    .layout-12 .vinogradniki .text_space_old p {
        line-height: 1.4
    }

    .layout-12 .vinogradniki .abs_img_1 {
        position: absolute;
        bottom: 0;
        z-index: 1
    }

    .layout-12 .vinogradniki .abs_img_2 {
        position: absolute;
        width: auto;
        right: 0;
        top: -50px
    }

    .layout-12 .text_s_s.space_padding {
        margin-top: 65%;
        margin-bottom: 10%;
        text-align: right;
        padding-left: 0
    }

    .layout-12 .text_s_s.space_padding p {
        line-height: 1
    }

    .layout-12 #area_space .area_space-desc {
        font: 50px ProximaNova-Bold;
        line-height: .9;
        padding: 0;
    }

    .layout-12 #area_space {
        position: absolute;
        width: 230px;
        left: 50px;
        top: -100px
    }

    .layout-12 #area_space sup {
        top: -1em;
        font: 25px ProximaNova-Bold
    }

    .layout-12 #area_space div {
        position: absolute;
        z-index: 4;
        color: #fff;
        top: 45px;
        left: 30px
    }

    .layout-12 .vinogradniki .col-md-4 .padding_not.text_s_s {
        padding: 0 5% 5% 15%;
        margin-top: -10px
    }

    .layout-12 #area_space:before {
        content: '';
        background: #da224d;
        width: 200px;
        height: 200px;
        position: absolute;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .layout-12 .col-md-7.text_space_sa {
        padding: 6% 0 5% 8%
    }

    .layout-12 .col-md-7.text_space_sa h5, .layout-12 .col-md-7.text_space_sa .col-md-6 {
        margin-bottom: 50px
    }

    .layout-12 .col-md-7.text_space_sa h4 {
        line-height: 1
    }

    .layout-12 .last_vinogradniki {
        text-align: center;
        padding: 60px 0
    }

    .layout-12 .last_vinogradniki p {
        padding-bottom: 0
    }
}


.layout-12 .text_s_s.margin_text {
    margin-top: 250px
}

.layout-12 .vinodelnia {
    background: transparent;
    padding-bottom: 31px
}

.layout-12 #proizvoditelnost {
    color: #fff;
    background-color: #DA224D;
    padding: 20px 50px;
    position: absolute;
    top: -116px
}

.layout-12 .vinodelnia .col-md-5 .text_s_s {
    padding: 20% 10% 5%
}

.layout-12 .vinodelnia .abs_img {
    position: absolute;
    right: 0;
    top: -130px
}

.layout-12 .vinodelnia .abs_top {
    position: absolute;
    right: 7%;
    top: 0;
    z-index: 2;
    width: 93%
}

.layout-12 .vinodelnia .col-md-6 .text_s_s {
    padding: 15% 5% 11% 11%;
    color: #23252b
}

@media (min-width: 992px) {

    .layout-12 .vinodelnia .col-md-6 + .col-md-6 {
        width: calc(50% + 15px)
    }

    .layout-12 .vinodelnia .col-md-6 {
        width: calc(50% - 15px)
    }
}

@media (max-width: 991px) {

    .layout-12 #map {
        display: none
    }

    .layout-12 .main_bg {
        background-size: cover !important;
        background-position: center center !important;
        height: 150VW !important
    }

    .layout-12 .logo {
        width: 52.7vw;
        margin-top: 18vw
    }

    .layout-12 .brand_title {
        padding: 0;
        margin-bottom: 0;
        margin-top: 14vw;
        font-size: 13.88vw !important
    }

    .layout-12 .signature {
        font-size: 4.16vw;
        margin-top: 8.33vw;
        text-align: center
    }

    .layout-12 p {
        font-size: 4.1vw
    }

    .layout-12 .text_s_s {
        padding: 8.333vw 30px
    }

    .layout-12 .text_s_s p br {
        display: none
    }

    .layout-12 .row {
        margin: 0
    }

    .layout-12 .about_person {
        margin-bottom: 0
    }

    .layout-12 .text_ml {
        font: 5vw Lato-Light;
        padding: 8.333vw 35px
    }

    .layout-12 .about_person .col-md-5 {
        background: #FFF;
        overflow: hidden;
        padding-left: 4.1666666666667vw
    }

    .layout-12 .about_person_below.mob-elem .text_ml {
        padding-top: 0
    }

    .layout-12 .about_person .col-md-5 img {
        width: 108vw;
        max-width: 120vw
    }

    .layout-12 .teruar_bg {
        margin-top: 30vw;
        background: transparent;
        padding-top: 0
    }

    .layout-12 .teruar_bg p, .layout-12 .vinodelnia p {
        color: #23252b
    }

    .layout-12 .teruar_bg .background_purple p, .layout-12 .teruar_bg .text_space_old {
        color: #fff
    }

    .layout-12 .teruar_bg .text_space_old {
        font: 5vw ProximaNova-Bold;
        text-align: center;
        padding: 4.333vw 30px 8.333vw
    }

    .layout-12 .teruar_bg .text_space_imp.text_space_old p {
        font: 5vw ProximaNova-Bold;
        padding: 0;
        margin: 0
    }

    .layout-12 .teruar_bg .text_space_imp.text_space_old {
        padding: 8.333vw 30px
    }

    .layout-12 .teruar_bg .text_space.text_s_s {
        padding: 0 30px 8.333vw
    }

    .layout-12 .teruar_bg .margin-img {
        margin-left: -15px;
        width: 100vw
    }

    .layout-12 .teruar_bg .background_purple {
        margin: -15px -15px 0
    }

    .layout-12 .background_purple .text_space {
        padding: 8.333vw 30px
    }

    .layout-12 .vinogradniki_title {
        font-size: 14.4vw;
        padding: 0;
        position: absolute;
        top: -13vw;
        z-index: 1;
        left: -15px;
        width: 100vw;
        text-align: center
    }

    .layout-12 .col-md-4.text_map {
        padding: 0
    }

    .layout-12 .teruar {
        font-size: 25vw !important;
        text-align: center;
        position: absolute;
        margin-top: -22vw;
        width: 100vw;
        text-align: center;
        left: 0
    }

    .layout-12 img {
        max-width: 100vw
    }

    .layout-12 #area_space span {
        font: 7vw ProximaNova-Bold;
        line-height: .9
    }

    .layout-12 #area_space {
        width: 35vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: -17.5vw
    }

    .layout-12 #area_space sup {
        top: -1em;
        font: 4.8vw ProximaNova-Bold
    }

    .layout-12 #area_space div {
        font-size: 4.1vw;
        position: absolute;
        z-index: 4;
        color: #fff;
        top: -18vw;
        text-align: center;
        left: 27vw;
        width: 45vw
    }

    .layout-12 #area_space:before {
        content: '';
        background: #da224d;
        width: 35vw;
        height: 35vw;
        position: absolute;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .layout-12 .vinogradniki .text_s_s.margin_text {
        margin-top: 42vw;
        padding: 8.333vw 15px;
        text-align: center
    }

    .layout-12 .abs_img_1 {
        display: none
    }

    .layout-12 .vinogradniki .flex_elem .page_image {
        margin-left: -15px;
        width: 100vw
    }

    .layout-12 .vinogradniki .flex_elem .text_space_old {
        text-align: center;
        padding: 8.333vw 30px
    }

    .layout-12 .vinogradniki .flex_elem .text_space_old p {
        font: 5vw ProximaNova-Bold
    }

    .layout-12 .vinogradniki .flex_elem .text_space_old {
        order: 2
    }

    .layout-12 .vinogradniki .flex_elem .page_image {
        order: 1
    }

    .layout-12 .vinogradniki .text_space_sa h5 {
        font-size: 10.888vw;
        color: #4d3c53;
        font-family: 'ProximaNova-Bold';
        padding-left: 20px;
        margin-top: 7vw
    }

    .layout-12 .vinogradniki .text_space_sa .col-md-6 {
        width: 50%;
        float: left;
        text-align: center;
        margin-top: 4.5vw
    }

    .layout-12 .vinogradniki .fisrt_block img, .layout-12 .vinogradniki .page_image.abs_img_2, .layout-12 .spec_elem {
        margin-left: -15px;
        width: 100vw
    }

    .layout-12 .vinogradniki .text_space_sa .col-md-6 span {
        font-size: 6.5vw;
        font-weight: 600;
        font-family: 'ProximaNova-Bold'
    }

    .layout-12 .vinogradniki .text_space_sa .row .row:nth-child(3) .col-md-6 {
        width: 100%
    }

    .layout-12 .vinogradniki .text_s_s.space_padding p {
        display: inline
    }

    .layout-12 .vinogradniki .col-md-8 .page_image {
        width: 100vw;
        margin-left: -30px;
        margin-top: 8.333vw
    }

    .layout-12 .last_vinogradniki.text_ml {
        text-align: center;
        padding: 0 45px
    }

    .layout-12 .last_vinogradniki.text_ml p {
        font: 5vw Lato-Light
    }

    .layout-12 .row.flex_elem_row {
        margin: 0 -15px
    }

    .layout-12 .name_vinodelnia {
        position: absolute;
        padding: 0;
        font-size: 17.4vw !important;
        top: 7.1vw !important;
        width: 100vw;
        left: -15px;
        text-align: center
    }

    .layout-12 .vinodelnia {
        margin-top: 18.11vw;
        background: transparent
    }

    .layout-12 .spec_elem {
        overflow: hidden
    }

    .layout-12 .spec_elem img {
        height: 51vw;
        width: auto;
        max-width: 4000vw;
        margin-left: -30vw
    }

    .layout-12 #proizvoditelnost {
        color: #fff;
        background-color: #DA224D;
        padding: 6vw 20vw;
        position: absolute;
        top: -20vw;
        font-size: 5vw;
        text-align: center;
        z-index: 10;
        width: 90vw;
        margin-left: calc(5vw - 15px);
        margin-right: 5vw
    }

    .layout-12 .vinodelnia .col-md-5 .text_s_s {
        margin-top: 105vw;
        padding-top: 4vw
    }

    .layout-12 .abs_top {
        display: none
    }

    .layout-12 .vinodelnia .col-md-7 img {
        position: absolute;
        top: -211vw;
        left: -15px
    }

    .layout-12 .vinodelnia .abs_img {
        margin-left: -30px
    }
}

.text_ml, .layout-12 .teruar_bg .background_purple .text_space {
    font: 1.1458333333333vw Lato-Light
}

@media (min-width: 992px) {
    .layout-12 .brand_title {
        font-size: 70px
    }

    .layout-12 .main_bg {
        height: 800px
    }
}
