@media (min-width: 992px) {
    .layout-22 .naming_medium {
        font-size: 6.7708333333333vw
    }

    .layout-22 .naming_small {
        font-size: 4.6875vw
    }

    .layout-22 .main_bg {
        height: 41.66vw
    }

    .layout-22 .logo {
        width: 22%;
        margin-top: 6.2vw
    }

    .layout-22 .brand_title {
        margin-top: 0;
        padding-top: .7vw;
        font-size: 3.6458333333333vw
    }

    .layout-22 .signature {
        text-align: left;
        margin-top: 2.5vw;
        margin-left: -15px;
        font-size: .9375vw
    }

    .layout-22 .col-md-7.person_text {
        padding: 5vw 3vw 0 0
    }

    .layout-22 .about_person {
        margin-bottom: 0
    }

    .layout-22 .about_person .person_img {
        margin-top: -4.4791666666667vw
    }

    .layout-22 .abs_img {
        position: absolute;
        top: 0;
        z-index: 1
    }

    .layout-22 .person_img {
        margin-bottom: -4.9479166666667vw
    }

    .layout-22 .about_person_below .col-md-8 .person_img {
        margin-top: 0
    }

    .layout-22 .about_person_below .col-md-4.text_s_s {
        padding: 8vw 3vw 1vw
    }

    .layout-22 .about_person_below .col-md-4.text_s_s p {
        line-height: 1.6
    }

    .layout-22 .about_person_below .text_mxl {
        padding: 3.90625vw 0 0;
        text-align: center;
        margin-bottom: 8.8541vw;
        margin-top: 3.8541vw;
    }

    .layout-22 .about_person_below .text_mxl p {
        line-height: 1.8;
        padding-bottom: 0
    }

    .layout-22 .teruar_bg {
        background: transparent;
        padding: 0
    }

    .layout-22 .teruar_bg p {
        color: #23252b;
        margin: 0;
        line-height: 1.8
    }

    .layout-22 .teruar {
        margin-top: 0;
        position: absolute;
        top: -6.4583333333333vw;
        left: -5px
    }

    .layout-22 .teruar_bg .col-md-6.half_minus.text_s_s {
        padding: 4.166vw 2.2vw 9.114vw 0
    }

    .layout-22 #bg_img {
        position: absolute;
        right: 0;
        top: 0
    }

    .layout-22 #second_ter_img {
        width: auto;
        float: left;
        margin-top: -4.947vw
    }

    .layout-22 .teruar_bg .col-md-7.half_minus .text_s_s {
        padding: 2.645vw 4.5vw 0;
        float: left
    }

    .layout-22 .teruar_bg .col-md-7.half_minus .text_s_s p {
        color: #fff
    }

    .layout-22 .teruar_bg .col-md-offset-1.text_s_s {
        padding: 0 0 28.385vw 1.8vw;
        margin-top: -4vw
    }

    .layout-22 .col-md-6.background_purple {
        height: 40.364vw;
        width: 54.6875vw;
        margin-bottom: -40.364vw
    }

    .layout-22 .vinogradniki .vinogradniki_title {
        position: absolute;
        top: -4.4791666666667vw;
        left: -5px;
        padding-left: 0
    }

    .layout-22 #area {
        position: absolute;
        background: rgba(218, 34, 77, 0.9);
        width: 15.625vw;
        text-align: center;
        font: 16px ProximaNova-Bold;
        color: #fff;
        padding: 1.25vw 0;
        top: 3.59375vw
    }

    .layout-22 #area h4 {
        font-size: 30px;
        line-height: 1;
        padding-bottom: 0;
        color: white;
    }

    .layout-22 .vinogradniki .col-md-4 .text_s_s {
        padding: 3.59375vw 1.2vw 0 0
    }

    .layout-22 .vinogradniki {
        margin-bottom: 8.3333vw;
        margin-top: 8.3333vw;
    }

    .layout-22 #mrg_img {
        margin-top: -5.46875vw
    }

    .layout-22 .vinogradniki .background_grey {
        padding-bottom: 7.03125vw
    }

    .layout-22 .vinogradniki .col-md-5.text_s_s.half_minus {
        padding: 3.2vw 0 0 4.6vw
    }

    .layout-22 .name_vinodelnia {
        position: absolute;
        top: -6.4583333333333vw;
        left: -5px
    }

    .layout-22 .vinodelnia {
        background: transparent;
        color: #23252b
    }

    .layout-22 .vinodelnia .col-md-12 img {
        margin-bottom: -11.458vw
    }

    .layout-22 .vinodelnia .col-md-offset-1 {
        padding: 2.864vw 4vw
    }

    .layout-22 .vinodelnia .background_grey {
        padding: 2.34375vw 0 5.46875vw
    }

    .layout-22 .vinodelnia .col-md-8 img {
        margin-top: -5.46875vw
    }

    .layout-22 .vinodelnia .col-md-4.text_s_s {
        padding: 1.5vw 0 0 2.5vw;
        color: #23252b
    }

    .layout-22 #first_mxl {
        padding: 3.90625vw 10vw 7.03125vw;
        text-align: center
    }

    .layout-22 .vinodelnia .background_purple .col-md-8 img {
        margin-top: -3.645vw
    }

    .layout-22 .vinodelnia .background_purple .col-md-4.text_s_s {
        padding: 4vw 4.5vw 0 0
    }
    .layout-22 .vinodelnia .background_purple .col-md-4.text_s_s p{
        color: white;
    }

    .layout-22 .vinodelnia .background_purple {
        padding-bottom: 4.6875vw
    }

    .layout-22 #second_mxl {
        padding: 4.427vw 11vw;
        text-align: center
    }

    .layout-22 #map {
        height: 21.875vw;
        width: 19.791vw;
        margin-top: -12.76vw
    }
}

@media (max-width: 991px) {
    .layout-22 .main_bg {
        background-size: cover !important;
        background-position: center center !important;
        height: 150VW !important
    }

    .layout-22 .logo {
        width: 52.7vw !important;
        margin-top: 18vw
    }

    .layout-22 .brand_title {
        padding: 0;
        margin-bottom: 0;
        margin-top: 14vw;
        font-size: 12vw
    }

    .layout-22 .signature {
        font-size: 4.16vw;
        margin-top: 8.33vw;
        text-align: center
    }

    .layout-22 p {
        font-size: 4.1vw
    }

    .half_minus, .half_plus {
        width: 100% !important;
        padding-left: 15px;
        padding-right: 15px
    }

    .layout-22 .about_person .abs_img {
        display: none
    }

    .layout-22 .person_text {
        padding: 8.333vw 20px
    }

    .layout-22 .about_person {
        margin-bottom: 0
    }

    .layout-22 .about_person_below .flex_elem .col-md-4 {
        padding-bottom: 0
    }

    .layout-22 .about_person_below .flex_elem .col-md-12 {
        padding: 30px 25px;
        text-align: center
    }

    .layout-22 .about_person_below .flex_elem .col-md-12 p {
        display: inline;
        font: 5vw Lato-Light
    }

    .layout-22 .teruar {
        font-size: 25vw !important;
        text-align: center;
        position: absolute;
        margin-top: -22vw;
        width: 100vw;
        text-align: center;
        left: 0
    }

    .layout-22 .teruar_bg {
        padding: 0 0 19.4vw;
        margin-top: 16.38vw;
        background: transparent
    }

    .layout-22 .teruar_bg p {
        color: #23252b
    }

    .layout-22 .second_ter_img {
        width: 100vw
    }

    .layout-22 .margin_box.col-md-7 {
        background: #2d2032
    }

    .layout-22 .margin_box.col-md-7 p {
        color: #fff
    }

    .layout-22 .margin_box.col-md-offset-1.col-md-4.text_s_s {
        padding-top: 0;
        padding-bottom: 0
    }

    .layout-22 #area {
        position: absolute;
        width: 100vw;
        left: 5.6vw;
        right: 0;
        bottom: 0;
        top: auto;
        font-size: 4.1vw;
        width: 88.8vw;
        right: 5.6vw;
        padding: 5px 0 7px;
        background-color: #c51f3e;
        color: #fff;
        text-align: center
    }

    .layout-22 #area span p {
        font-size: 6.66vw;
        padding-bottom: 0
    }

    .layout-22 .vinogradniki .background_grey .col-md-5.text_s_s.half_minus {
        padding: 8.333vw 35px 6.333vw
    }

    .layout-22 .vinogradniki {
        margin-bottom: 18.11vw
    }

    .layout-22 .name_vinodelnia {
        position: absolute;
        font-size: 17.4vw !important;
        top: -10.9vw !important;
        width: 100vw;
        text-align: center
    }

    .layout-22 .vinodelnia {
        background-image: none
    }

    .layout-22 .vinodelnia .col-md-offset-1.col-md-5.half-minus.background_white {
        padding: 8.333vw 30px 1vw
    }

    .layout-22 .vinodelnia .col-md-offset-1.col-md-5.half-minus.background_white p {
        text-align: center;
        line-height: 1.8
    }

    .layout-22 .vinodelnia .background_purple {
        background: transparent
    }

    .layout-22 .vinodelnia p {
        color: #23252b
    }

    .layout-22 .vinogradniki_title {
        font-size: 14.4vw;
        padding: 0;
        position: absolute;
        top: -13vw;
        z-index: 1;
        width: 100vw;
        text-align: center
    }

    .layout-22 .vinodelnia #first_mxl p, .layout-22 .vinodelnia #second_mxl p {
        font-size: 5vw;
        text-align: center
    }

    .layout-22 .vinodelnia #first_mxl, .layout-22 .vinodelnia #second_mxl {
        padding: 0 25px 8.333vw
    }

    .layout-22 .text_s_s {
        padding: 8.333vw 20px
    }

    .layout-22 .vinodelnia .flex_elem .col-md-8 img {
        margin-left: -15px
    }

    .layout-22 .about_person_below .flex_elem .col-md-4, .layout-22 .vinogradniki .flex_elem .col-md-8, .layout-22 .vinodelnia .flex_elem .col-md-8 {
        order: 1
    }

    .layout-22 .about_person_below .flex_elem .col-md-8, .layout-22 .vinogradniki .flex_elem .col-md-4, .layout-22 .vinodelnia .flex_elem .col-md-4 {
        order: 2
    }

    .layout-22 .about_person_below .flex_elem .col-md-12 {
        order: 3
    }

    .layout-22 img {
        width: 100vw !important
    }
}
