@media (min-width: 992px) {
    .layout-23 .main_bg {
        height: 41.66vw
    }

    .layout-23 .brand_title {
        padding-top: 2.28vw;
        padding-bottom: 0;
        margin-bottom: 0
    }

    .layout-23 .logo {
        width: 17.8125vw
    }

    .layout-23 .signature {
        padding-top: 5.729vw;
        text-align: left;
        padding-left: 7.29vw
    }

    .layout-23 .about_person .person_text {
        padding: 4vw 7.2vw 2vw 0 !important
    }

    .layout-23 .about_person {
        margin-bottom: 0
    }

    .layout-23 .about_person_below {
        margin-top: 4.25vw;
        margin-bottom: 10.416vw
    }

    .layout-23 .about_person_below .text_mxl {
        padding: 0 4.5vw;
        text-align: center
    }

    .layout-23 .teruar_bg {
        background: transparent;
        padding: 0
    }

    .layout-23 .teruar_bg p {
        margin: 0;
        line-height: 1.8;
        color: #23252b
    }

    .layout-23 .teruar_bg .half_minus.text_mxl.background_purple:before {
        background: #2d2032;
        content: '';
        position: Absolute;
        left: -100%;
        right: 100%;
        top: 0;
        bottom: 0
    }

    .layout-23 .teruar_bg .half_minus.text_mxl.background_purple {
        padding-top: 6.51vw
    }

    .layout-23 .teruar_bg .half_minus.text_mxl.background_purple p {
        color: #fff
    }

    .layout-23 .teruar_bg .margin_img {
        margin-bottom: -5.989vw
    }

    .layout-23 .teruar_bg .half_minus.text_mxl.background_purple .col-md-5 {
        padding-right: 3vw
    }

    .layout-23 .teruar_bg .col-md-7 .text_s_s {
        padding: 10vw 0 0 3vw
    }

    .layout-23 .teruar_bg .col-md-12.text_mxl {
        padding: 3.645vw 10vw 8.854vw;
        text-align: center
    }

    .layout-23 .teruar {
        position: Absolute;
        z-index: 2;
        top: -6.45vw;
        text-align: center;
        margin: 0;
        width: 100%
    }

    .layout-23 .vinogradniki .col-md-5.half_minus.text_mxl {
        padding: 13vw 0 0 4vw
    }

    .layout-23 #area {
        font: 16px ProximaNova-Bold;
        width: 14.583vw;
        background: #da224d;
        color: #fff;
        text-align: center;
        position: absolute;
        right: -3.385vw;
        top: 2.6vw;
        padding: 1.3vw 0
    }

    .layout-23 #area h4 {
        font-size: 30px;
        display: block;
        color: white;
    }

    .layout-23 .vinogradniki .pull-left {
        margin-top: -5.46875vw
    }

    .layout-23 .vinogradniki .col-md-12.text_s_s {
        padding: 3.385vw 10vw 13.541vw
    }

    .layout-23 .vinogradniki .col-md-12.text_s_s p {
        padding-bottom: 0
    }

    .layout-23 .vinogradniki_title {
        padding: 0;
        position: absolute;
        top: -4.48vw;
        z-index: 2
    }

    .layout-23 .vinogradniki .col-md-6.half_minus.text_s_s {
        padding: 4vw 1vw 0 0
    }

    .layout-23 #area_species {
        font: 16px Lato-Regular;
        margin-top: 2vw
    }

    .layout-23 #area_species h4 {
        font: 40px ProximaNova-Bold;
        display: block
    }

    .layout-23 #area_species .col-md-6 {
        margin-bottom: 2.2vw
    }

    .layout-23 .vinodelnia {
        background: transparent;
        padding-bottom: 4.427vw
    }

    .layout-23 .vinodelnia .background_purple {
        margin-top: 10vw;
        padding: 4.4vw 6vw
    }

    .layout-23 .vinodelnia .background_purple p {
        padding-bottom: 25px
    }

    .layout-23 .vinodelnia .pull-right {
        margin-right: -5.364vw
    }

    .layout-23 .vinodelnia .col-md-6.half_plus.text_s_s {
        color: #23252b;
        padding: 4.427vw 6vw 0 0
    }

    .layout-23 .name_vinodelnia {
        position: absolute;
        padding: 0;
        top: -6.45vw
    }

    .layout-23 #map {
        width: 26.822vw;
        height: 21.875vw
    }
}

@media (max-width: 991px) {
    .layout-23 .main_bg {
        background-size: cover !important;
        background-position: center center !important;
        height: 150VW !important
    }

    .layout-23 .logo {
        width: 52.7vw !important;
        margin-top: 21vw
    }

    .layout-23 .brand_title {
        padding: 0;
        margin-bottom: 0;
        margin-top: 14vw;
        font-size: 12vw
    }

    .layout-23 .signature {
        font-size: 4.16vw;
        margin-top: 10vw;
        padding: 0 5vw !important;
        text-align: center
    }

    .layout-23 p {
        font-size: 4.1vw
    }

    .layout-23 .text_mxl p, .layout-23 .text_ml p {
        font: 5vw Lato-Light;
        line-height: 1.8
    }

    .layout-23 .text_s_s, .layout-23 .text_mxl, .layout-23 .text_ml {
        padding: 8.333vw 40px
    }

    .layout-23 .teruar_bg, .layout-23 .vinodelnia {
        background: transparent
    }

    .layout-23 .teruar_bg p, .layout-23 .vinodelnia p {
        color: #23252b
    }

    .layout-23 .teruar_bg {
        padding: 0 0 16vw
    }

    .layout-23 .pull-left.margin_img {
        margin-left: -15px
    }

    .layout-23 .teruar_bg .row.flex_elem {
        margin: 0
    }

    .layout-23 .teruar_bg img {
        width: 100vw
    }

    .layout-23 .teruar_bg .half_minus {
        padding: 0
    }

    .layout-23 .teruar_bg .half_minus .half_minus {
        padding: 8.3333vw 40px
    }

    .layout-23 .teruar_bg .text_s_s {
        padding-bottom: 0
    }

    .layout-23 .vinogradniki img, .layout-23 .vinodelnia img {
        width: 100vw
    }

    .layout-23 #area {
        float: left;
        width: 100%;
        color: #fff;
        font: 5.5vw ProximaNova-Bold;
        background: #DA224D;
        text-align: center;
        font-size: 24px;
        padding: 3vw 0
    }

    .layout-23 #area span p {
        font-size: 30px;
        padding: 0;
        line-height: 1;
        font: 6vw ProximaNova-Bold
    }

    .layout-23 #area span {
        display: block
    }

    .layout-23 .vinogradniki .text_s_s .text_mxl {
        padding: 0 0 8.333vw
    }

    .layout-23 .vinogradniki .text_s_s .text_mxl .col-md-6 {
        width: 50%;
        float: left;
        text-align: center;
        margin-top: 4.5vw;
        font-size: 4.1vw;
        height: 16vw
    }

    .layout-23 .vinogradniki .text_s_s .text_mxl .col-md-6 span {
        font-size: 6.5vw;
        font-weight: 600;
        font-family: 'ProximaNova-Bold';
        display: block
    }

    .layout-23 .vinogradniki .col-md-5.half_minus.text_mxl {
        padding-bottom: 0
    }

    .layout-23 .vinogradniki {
        padding-bottom: 16vw
    }

    .layout-23 .vinodelnia .half_minus.background_purple {
        padding: 8.333vw 40px
    }
}
